In [ ]:
import pandas as pd
#import os

In [ ]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [ ]:
#school_data_to_load = os.path.join("Resources", "schools_complete.csv")
#student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [ ]:
school_df = pd.read_csv(school_data_to_load)

In [ ]:
school_df

In [ ]:
school_df.head(10)

In [ ]:
school_df.tail(10)

In [ ]:
student_df = pd.read_csv(student_data_to_load)

In [ ]:
student_df

In [ ]:
school_df.count()

In [ ]:
student_df.count()

In [ ]:
school_df.isnull()

In [ ]:
student_df.isnull().sum()

In [ ]:
school_df.notnull()

In [ ]:
student_df.notnull().sum()

In [ ]:
school_df.dtypes

In [ ]:
student_df.dtypes

In [ ]:
student_name =student_df["student_name"].tolist()
student_name

In [ ]:
for name in student_name:
    print(name.split(),len(name.split()))

In [ ]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
for word in prefixes_suffixes:
    student_df['student_name'] = student_df['student_name'].str.replace(word,"",regex =True)

In [ ]:
student_df

In [ ]:
for word in prefixes_suffixes:
    student_df["student_name"] = student_df["student_name"].str.replace(word,"", regex=True)

In [ ]:
student_df["student_name"].head(10)

In [ ]:
student_name=student_df["student_name"]
student_name.head(10)

In [ ]:
student_df.head(5)

In [ ]:
school_df.head()

In [ ]:
school_data_df_complete = pd.merge(student_df, school_df, on= ["school_name", "school_name"])
school_data_df_complete.head()

In [ ]:
student_count = school_data_df_complete.count()
student_count

In [ ]:
school_data_df_complete["Student ID"].count()

In [ ]:
school_count = school_df["school_name"].count()
school_count

In [ ]:
school_count2 = school_data_df_complete["school_name"].unique()

In [ ]:
school_count2

In [ ]:
len(school_data_df_complete["school_name"].unique())

In [ ]:
total_budget = school_data_df_complete["budget"].sum()
total_budget

In [ ]:
total_budget = school_df["budget"].sum()
total_budget

In [ ]:
average_reading_score = school_data_df_complete["reading_score"].mean()
average_reading_score

In [ ]:
average_math_score = school_data_df_complete["math_score"].mean()
average_math_score

In [ ]:
passing_math = school_data_df_complete["math_score"] >= 70
passing_math

In [ ]:
passing_math.count()

In [ ]:
passing_math_df = school_data_df_complete[school_data_df_complete["math_score"] >= 70]
passing_math_df.head()

In [ ]:
#passing_math_df = pd.DataFrame(school_data_df_complete["math_score"] >= 70)
#passing_math_df.head()

In [ ]:
passing_reading_df= school_data_df_complete[school_data_df_complete["reading_score"] >= 70]
passing_reading_df

In [ ]:
passing_math_count = passing_math_df["student_name"].count()
passing_reading_count = passing_reading_df["student_name"].count()

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
student_count =school_data_df_complete["Student ID"].count()
student_count

In [ ]:
passing_math_percentage = passing_math_count/student_count*100
passing_math_percentage

In [ ]:
passing_reading_percentage = passing_reading_count/student_count*100
passing_reading_percentage

In [ ]:
passing_math_reading = school_data_df_complete[(school_data_df_complete["math_score"] >= 70) & (school_data_df_complete["reading_score"] >= 70)]

In [ ]:
passing_math_reading.head()

In [ ]:
passing_math_reading["student_name"].count()

In [ ]:
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
overall_passing_math_reading_percentage= overall_passing_math_reading_count/student_count*100
overall_passing_math_reading_percentage

In [ ]:
District_summary_df =pd.DataFrame(
        [{"Total School": school_count,
        "Total Students": student_count,
        "Total Budget": total_budget,
        "Average Math Score": average_math_score,
        "Average Reading Score": average_reading_score,
        "% Passing Math": passing_math_percentage,
        "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_math_reading_percentage}])

In [ ]:
District_summary_df

In [ ]:
def say_hello():
    print("Hello!")

In [ ]:
say_hello()

In [ ]:
def say_something(something):
    print(something)

In [ ]:
say_something("Ilovepython")

In [ ]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

In [ ]:
def sum_integer():
    print(1+5)

In [ ]:
sum_integer()

In [ ]:
say_something("i love my family")

In [ ]:
#writing function for the school District data 
#define a function that calculates the percentage of students that passed math
#math and reading and returns the passing percentage when the function is called

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count/float(student_count)*100

In [ ]:
passing_math_count = 29370

In [ ]:
total_student_count = 39170

In [ ]:
#Call the function
passing_math_percent(passing_math_count, total_student_count)

In [ ]:
# A list of my grades
my_grades = ['B','C','B','D']

In [ ]:
#Convert my_grades to a Seriesa
my_grades = pd.Series(my_grades)
my_grades

In [ ]:
my_grades.map({"B":'A',"C":"B","D":"C"})

In [ ]:
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.0f}".format(grade))

In [ ]:
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades.map("{:.0f}".format)

In [ ]:
#District_summary_df["Total Students"] = District_summary_df["Total Students"].map("{:,}".format)
District_summary_df["Total Students"]

In [ ]:
District_summary_df["Total Budget"] = District_summary_df["Total Budget"].map("${:}".format)
District_summary_df["Total Budget"]

In [ ]:
District_summary_df

In [ ]:
District_summary_df["Average Math Score"] = District_summary_df["Average Math Score"].map("{:.1f}".format)

District_summary_df["Average Reading Score"] = District_summary_df["Average Reading Score"].map("{:.1f}".format)

District_summary_df["% Passing Math"] = District_summary_df["% Passing Math"].map("{:.0f}".format)

District_summary_df["% Passing Reading"] = District_summary_df["% Passing Reading"].map("{:.0f}".format)

District_summary_df["% Overall Passing"] = District_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
District_summary_df

In [ ]:
school_df

In [ ]:
per_school_types =school_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
df=pd.DataFrame(per_school_types)
df

In [ ]:
per_student_count= school_df["size"]

per_student_count

In [ ]:
per_school_counts =school_df.set_index(["school_name"])["size"]
per_school_counts

In [ ]:
school_data_df_complete.head()

In [ ]:
per_school_counts = school_data_df_complete["school_name"].value_counts()
per_school_counts

In [ ]:
per_school_budget = school_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
per_school_capita = per_school_budget / per_school_counts
per_school_capita

In [ ]:
# Calculate the math scores.
student_school_math = student_df.set_index(["school_name"])["math_score"]
student_school_math

In [ ]:
per_school_averages = school_data_df_complete.groupby(["school_name"]).mean()
per_school_averages

In [ ]:
# Calculate the average test scores.
per_school_math = school_data_df_complete.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_df_complete.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
per_school_math

In [ ]:
per_school_reading

In [ ]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_df_complete[(school_data_df_complete["math_score"] >= 70)]

per_school_passing_reading = school_data_df_complete[(school_data_df_complete["reading_score"] >= 70)]

In [ ]:
per_school_passing_math,

In [ ]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [ ]:
per_school_passing_math

In [ ]:
per_school_passing_reading

In [ ]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_df_complete[(school_data_df_complete["math_score"] >= 70) & (school_data_df_complete["reading_score"] >= 70)]

per_passing_math_reading.head()

In [ ]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
#Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
per_overall_passing_percentage

In [ ]:
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head(5)

In [ ]:
#4.9.1 Find the highest prforming Schools
#Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = False)
top_schools.head()

In [ ]:
#Find the lowest performing schools
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending = True)
bottom_schools.head()

In [ ]:
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"])
bottom_schools.head()

In [ ]:
#4.9.3 Object Oriented Programming
class Cat:
    def __init__(self, name):
        self.name = name

In [ ]:
first_cat =Cat('Felix')
print(first_cat.name)

In [ ]:
second_cat = Cat('Garfield')
print(second_cat.name)

In [ ]:
class Dog:
    def __init__(self, name, color, sound):
        self.name= name
        self.color = color
        self.sound = sound
        
    def bark(self):
        return self.sound + ' ' + self.sound

In [ ]:
first_dog = Dog('Fido', 'brown', 'woof!')
print (first_dog.name)

In [ ]:
print(first_dog.color)

In [ ]:
first_dog.bark()

In [ ]:
second_dog = Dog('layd','blond','arf!')
second_dog.bark()

In [ ]:
#4.10.1 Creat Grade level DataFrame

In [ ]:
school_data_df_complete.head()

In [ ]:
ninth_graders = school_data_df_complete[(school_data_df_complete["grade"]=="9th")]

In [ ]:
ninth_graders.head()

In [ ]:
tenth_graders = school_data_df_complete[(school_data_df_complete["grade"]=="10th")]
eleventh_graders =school_data_df_complete[(school_data_df_complete["grade"]=="11th")]
twelfth_graders=school_data_df_complete[(school_data_df_complete["grade"]=="12th")]

In [ ]:
tenth_graders.head()

In [ ]:
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

In [ ]:
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [ ]:
ninth_grade_math_scores

In [ ]:
eleventh_grade_math_scores

In [ ]:
# Group each grade level DataFrame by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
ninth_grade_reading_scores

In [ ]:
twelfth_grade_reading_scores

In [ ]:
#4.10.3
#Combine each grade level series into a DataFrame

In [ ]:
math_score_by_grade = pd.DataFrame({
    "9th" : ninth_grade_math_scores,
    "10th" : tenth_grade_math_scores,
    "11th" : eleventh_grade_math_scores,
    "12th" : twelfth_grade_math_scores
})
math_score_by_grade.head()

In [ ]:
reading_score_by_grade = pd.DataFrame({
    "9th" : ninth_grade_reading_scores,
    "10th" : tenth_grade_reading_scores,
    "11th" : eleventh_grade_reading_scores,
    "12th" : twelfth_grade_reading_scores
})
reading_score_by_grade.head()

In [ ]:
math_score_by_grade["9th"]= math_score_by_grade["9th"].map("{:.1f}".format)

In [ ]:
math_score_by_grade["10th"]= math_score_by_grade["10th"].map("{:.1f}".format)

In [ ]:
math_score_by_grade["11th"]= math_score_by_grade["11th"].map("{:.1f}".format)

In [ ]:
math_score_by_grade["12th"]= math_score_by_grade["12th"].map("{:.1f}".format)

In [ ]:
math_score_by_grade.index.name=None

In [ ]:
math_score_by_grade.head()

In [ ]:
reading_score_by_grade["9th"]= reading_score_by_grade["9th"].map("{:.1f}".format)

In [ ]:
reading_score_by_grade["10th"]= reading_score_by_grade["10th"].map("{:.1f}".format)

In [ ]:
reading_score_by_grade["11th"]= reading_score_by_grade["11th"].map("{:.1f}".format)

In [ ]:
reading_score_by_grade["12th"]= reading_score_by_grade["12th"].map("{:.1f}".format)

In [ ]:
reading_score_by_grade.index.name=None

In [ ]:
reading_score_by_grade

In [ ]:
#4.11.1 
#Establish the sepnding ranges per student
per_school_capita.describe()

In [ ]:
spending_bins = [0, 585, 615,645, 675]
pd.cut(per_school_capita, spending_bins)

In [ ]:
spending_bins = [0, 585, 615,645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$586", "$586-630", "$631-645", "$646-675"]

In [ ]:
per_school_capita

In [ ]:
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

In [ ]:
# Calculate averages for the desired columns.
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
overall_passing_spending

In [ ]:
#4.11.4
# Assemble into DataFrame.
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Formatting
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

In [ ]:
per_school_counts

In [ ]:
# Establish the bins.
size_bins = [0, 999, 1999, 5000]
group_names = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

In [ ]:
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
size_summary_df=pd.DataFrame({
    "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing
})
size_summary_df

In [ ]:
#Calculate averages for the desired columns:
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

In [ ]:
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

In [ ]:
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

In [ ]:
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

In [ ]:
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
type_summary_df =pd.DataFrame({
    "Average Math Score" : type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})

In [ ]:
type_summary_df

In [ ]:
type_summary_df["Average Math Score"]= type_summary_df["Average Math Score"].map("{:.0f}".format)

In [ ]:
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.0f}".format)

In [ ]:
type_summary_df["% Passing Math"]=type_summary_df["% Passing Math"].map("{:.0f}".format)

In [ ]:
type_summary_df["% Passing Reading"]=type_summary_df["% Passing Reading"].map("{:.0f}".format)

In [ ]:
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df